.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --chatbox: #f2f2f2;
  --footer-color: #ccc;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --chatbox: #1a1a1a;
    --footer-color: #383838;
  }
  .linkimg {
    filter: invert(1);
  }
  .footer {
    color: #383838;
  }
}

.container {
  box-shadow: 0 0 20px var(--gray-alpha-200);
  border-radius: 1rem;
  width: 25%;
  height: 24rem;
}

.container p {
  font-size: 2rem;
  padding: 1rem;
}

.links {
  justify-self: center;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.links a {
  transition: all 200ms ease;
}

.links a:hover {
  transform: scale(1.1);
}

.namnam {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

.nam {
  display: flex;
  flex-direction: row;
  background-color: var(--chatbox);
  border-radius: 1rem 1rem 0 1rem;
  justify-content: space-between;
}

.info {
  padding-right: 1rem;
}

.info ul {
  list-style-type: none;
}

.info ul li {
  margin-top: 0.75rem;
  font-size: 1.2rem;
}

.footer {
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  color: var(--footer-color);
}

.footer a {
  transition: all 200ms ease;
}

.footer a:hover {
  color: var(--button-primary-hover);
}

@media screen and (max-width: 1940px) {
  .container {
    height: 26rem;
  }
}

@media screen and (max-width: 1480px) {
  .container {
    height: 28.5rem;
  }

  .linkimg {
    width: 2.3rem;
  }
  .container p {
    font-size: 1.95rem;
  }
}

@media screen and (max-width: 1320px) {
  .container {
    width: 40%;
  }
  .linkimg {
    width: 3.5rem;
  }
  .container p {
    font-size: 1.5rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .footer a {
    margin-top: 0.45rem;
    font-size: 1.4rem;
  }

  .info h1 {
    font-size: 1.6rem;
  }

  .links {
    margin-right: 10%;
  }

  .links a {
    margin-right: 0.4rem;
  }
}

@media screen and (max-width: 1150px) {
  .container{
    width: 50%;
    height: 40rem;
  }
  .info ul {
    font-size: 0.3rem;
  }

  .footer {
    margin-top: 2rem;
  }

  .footer a {
    font-size: 2rem;
  }

  .links {
    display: grid;
    grid-template-columns: 3.5rem 3.5rem 3.5rem;
    grid-template-rows: 3.5rem 3.5rem;

  }

  .container p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 605px) {
  .container {
    width: 60%;
    height: 45rem;
  }

  .info ul {
    font-size: 0.3rem;
  }

  .footer {
    margin-top: 2rem;
  }

  .footer a {
    font-size: 2rem;
  }

  .links {
    display: grid;
    grid-template-columns: 3.5rem 3.5rem 3.5rem;
    grid-template-rows: 3.5rem 3.5rem;

  }

  .container p {
    font-size: 1.3rem;
  }
  
}